<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/project']" [routerLinkActive]="'active'">New Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Order Manager</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Addresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Reports</a>
  </li>
  </ul>
</nav>
