
.bg-inverse {
    background-color: #292b2c!important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: #fff;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 72rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
    padding-left: .4rem !important;
}
