<div class="row">
	<div class="col-md-4"><h2> STEP 5 - Order Review </h2></div>
	<div class="col-md-8">
		<div>
			<button class="btn btn-primary next-btn float-right" [routerLink]=	"" type="submit">
          		Print Quote
    		</button>
		</div>

	</div>
</div>

<div class="alert alert-success fade hide" role="alert" [innerHtml]="message">
  
</div>

<hr />
	

<div class="container">
<div class="row">
	<div class="col-md-4">
		<img class="img-thumbnail" [src]="fullImagePath" alt="Card image cap">
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col">Product Name:</div>
		</div>
		<div class="row">
			<div class="col">Total Quantity:</div>
		</div>	
		<div class="row">
			<div class="col">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th>Item</th>
				      <th>Message(s)</th>
				      <th>Unit Price</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>No Message Required</td>
				      <td>$50.0</td>
				    </tr>
				    <tr>
				      <td>Sub Total</td>
				      <td></td>
				      <td>$50.0</td>
				    </tr>
				  </tbody>
				</table>				
			</div>
		</div>	
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-6">
		Total
	</div>
	<div class="col-md-6">
		$50
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		Shipping Cost
	</div>
	<div class="col-md-6">
		$0.00
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		Tax
	</div>
	<div class="col-md-6">
		$4.62
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		Grand Total
	</div>
	<div class="col-md-6">
		$54.62
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		
	</div>
	<div class="col-md-6">
		Your minimum oder is $150
	</div>
</div>

<div class="row">
	<div class="col">Minimum order required amounts do not include tax  or shipping</div>
</div>

<hr />

<div class="row">
	<div class="col">
		<div class="form-group">
		    <label for="exampleTextarea">Inclde additional comments and questions with this order</label>
		    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value="" checked>
			    I have read and agree to be bound by the terms and conditions and privacy policy
			</label>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-4">
		<button class="btn btn-primary next-btn"  type="submit">
          Hold
    	</button>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary next-btn"  type="submit">
          Add more signs
    	</button>		
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary next-btn"  type="submit">
          Order
    	</button>		
	</div>
</div>

</div>	



